body {
	background : lightblue;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height:100vh;
	margin: 
#login {
	
}

.container {
	position: relative;
	width: 100%;
	max-width: 1000px;
	min-height: 1000px;
	color: lightblue;
	margin:50px;
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.container .left-side {
	position: relative;
	background: blue;
	padding: 40px;
}
/* 
.profileText {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items;center;
	padding-bottom: 20px; 
	border-bottom: 1px solid white;
} */
/* 
.profileText .imgBx {
	position: relative;
	width: 200px;
	height:200px;
	border-radius:50%;
	overflow:hidden;
} */
/* 
.profileText .imgBx img {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	object-fit:cover;
} */
/* 
.profileText h2 {
	color: ;
	font-size:1,5em;
	margin-top: 20px;
	text-transform:uppercase;
	text-align:center;
}


.profileText span {
	font-size:0,8em;
	text-align:center;
}

.contactInfo {
	padding-top: 40px;
}

.contactInfo ul {
	position: relative;
}

.contactInfo ul li {
	position: relative;
	list-style:none;
	margin:10px 0;
	cursor: pointer;
}

.container .right-side {
	position: relative;
	background: white;
	padding: 40px;
} */